.root {
    display: block;
}

GridPane {
    -fx-alignment: bottom-center;
    -fx-grid-lines-visible: false;
    -fx-label-padding: 0 5 0 5;
}

#candy_block {
    -fx-min-width: 70;
    -fx-min-height: 70;
    -fx-max-width: 70;
    -fx-max-height: 70;
}

.block-vbox {
    -fx-border-color: #858585;
    -fx-padding: 5px;
}